
.task-list-empty{
    text-align: center;
    color: #bebebe;
    font-size: 24px;
    margin-top: 20px;
    overflow: hidden;
}
.task-card-footer{
    position: absolute;
    right: 0;
    top: 0;
}

.task-edit-input{
    width: 100%;
    display: block;
}
