<mat-action-list>

    <ng-container *ngFor="let task of tasks">



        <div class='task-date' *ngIf="checkDate(task.deadline|date:'shortDate')"><span class="date">{{ task.deadline | date:'shortDate' }}</span><hr/></div>





        <mat-list-item [ngClass]="'priority-'+task.priority.order" (click)="openTask($event, task)">
            <span>{{ task.name }}</span>
            <span class="task-card-footer">
                <button *ngIf="type == 'active'" mat-icon-button color="accent" (click)="statusChange(task.id, true)">
                    <mat-icon aria-hidden="false">check</mat-icon>
                </button>
                <button *ngIf="type == 'done'" mat-icon-button color="accent" (click)="statusChange(task.id, false)">
                    <mat-icon aria-hidden="false">close</mat-icon>
                </button>
                <button *ngIf="type != 'archive'" mat-icon-button color="warn" (click)="delete(task.id)">
                    <mat-icon aria-hidden="false">delete</mat-icon>
                </button>
                <button *ngIf="type == 'archive'" mat-icon-button color="warn" (click)="restore(task.id)">
                    <mat-icon aria-hidden="false">restore_from_trash</mat-icon>
                </button>
                <button *ngIf="type == 'archive'" mat-icon-button color="warn" (click)="delete(task.id, true)">
                    <mat-icon aria-hidden="false">delete_forever</mat-icon>
                </button>
            </span>
        </mat-list-item>

    </ng-container>




</mat-action-list>


<div class="task-list-empty">
    <h2 *ngIf="!tasks || tasks.length == 0" class="tasks-not-found">{{ 'Tasks not found' | translate }}</h2>
</div>